<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - Razenderon Car Rentals</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="background-image"></div>
    <div class="login-container">
        <h1>Razenderon Sign up</h1>
        <form class="login-form" method="POST" action="/signup">
            <input type="text" name="fullname" placeholder="Full Name" required>
            <select name="license" required>
                <option value="" selected disabled>License</option>
                <option value="B">B</option>
                <option value="B+">B+</option>
                <option value="C">C</option>
                <option value="none">none</option>
            </select>
            <input type="email" name="email" placeholder="Email address" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password (minimum 7 characters)" required>
            <input type="password" name="passwordconfirm" placeholder="Confirm password" required>
            <button type="submit">Sign up</button>
            {{error}}
        </form>
        <a href="/login" style="display: block; margin-top: 15px; color: #005c97;">Cancel</a>
    </div>
</body>
</html>